.ebcrop-box .trigger {
  cursor: pointer;
}

.ebcrop-box .content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 203;
  background: rgba(0, 0, 0, 0.5);
}

.ebcrop-box .close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}